.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footerContent {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footerLists .info1 {
  margin: 0;
}

.footerLists .info {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  margin: 0;
}

.footerLists {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.logo {
  display: flex;
}
.footerLists h1 {
  margin-bottom: 0;
  font-weight: 600;
}

.footerLists ul {
  list-style: none;
  padding-left: 0;
}

.footerLists li {
  margin-bottom: 20px;
  font-weight: 600;
  cursor: pointer;
}

.footerLists li:hover {
  color: #ff5555;
}

.footerLists form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footerLists input {
  border: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  color: grey;
}

.subscribeForm {
  display: flex;
  align-items: center;

  border-radius: 4px;
  padding: 5px;
}

.subscribeBtn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.subscribeBtn:hover {
  background-color: #ff5555;
  color: white;
  scale: 1.1;
  transition: 0.5s;
}

.footerHr {
  width: 70%;
  height: 1px;
  background-color: rgb(177, 177, 177);
  border: none;
  background: linear-gradient(to right, white, black, white);
}

.footerCopyright {
  padding: 2rem;
  font-weight: 600;
}
